# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
.venv/
venv/
env/

# FastAPI logs
logs/
*.log
*.jsonl

# Model files
*.pkl
*.joblib

# NODE / REACT
ui/dashboard/node_modules/
ui/dashboard/.pnp/
ui/dashboard/.pnp.js

# React build
ui/dashboard/build/
ui/dashboard/dist/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
